<% provide(:title, @user.name) %>
<div class="container">
	<div class="row">
	  <aside class="span4">
	    <section>
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.name %>
	        <%= render 'shared/stats' %>
	      </h1>
	    </section>
	  </aside>
	  <div class="span8">
	  <h1>Points: <%= @user.total_points %></h1>
	  	<% if @user.events.any? %>
	  		<h3>Events Attended: <%= @user.events.count %></h3>
	  			<ol class="events">
	  				<%= render @events %>
	  			</ol>
	  			<%= will_paginate @events %>
	  	<% end %>
	  </div>
	</div>
</div>