<div class="container">

<%= form_for(@event) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :comment %>
      <%= f.text_area :comment %>

      <%= f.label :points %>
      <%= f.number_field :points %>

     

      <%= f.submit "Create Event", class: "btn btn-large btn-primary" %>
    <% end %>
</div>

<!-- Datetime, organization, etc.(not urgent) still to be added in this form when creating an event -->
